.word {
  font-size: 200px;
  margin: auto;
  top: 50vh;
  transform: translateY(-50%);
  width: 600px;
}

.dot {
  background-color: white;
  border-radius: 50%;
  bottom: 67%;
  content: "";
  filter: url("#goo");
  height: 31px;
  left: 25%;
  position: absolute;
  width: 31px;
}

.letterContainer {
  display: inline-block;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  position: sticky;
  top: 0;
}
