.word {
  font-size: 200px;
  margin: auto;
  position: sticky;
  top: 50vh;
  transform: translateY(-50%);
  width: 600px;
}

.dot {
  background-color: white;
  border-radius: 10px;
  content: "";
  height: 10px;
  left: 42%;
  position: absolute;
  top: 24%;
  width: 10px;
}

.letter {
  display: inline-block;
}

.container {
  height: 200vh;
}
